{% extends "base.html" %}

{% block content %}
<div class="column is-8 is-offset-2">
  <div class="level section">
    <div class="level-item">
      <p class="title">
        <a href="{{last_date_link}}"> &#8592; </a>
      </p>
    </div>
    <div class="level-item">
      <h1 class="is-3 title">{{current_date}}</h1>
    </div>
    <div class="level-item"> 
      <p class="title">
        <a href="{{next_date_link}}"> &#8594; </a>
      </p>
    </div>
  </div>
  {% if entry or note%}
  <div class="columns block">
    <div class="column">
      <h3 class="is-5 title">Habits</h3>
      <table class="table center-object">
        {% for entry in habits %}
          <tr><td>{{entry.habit.name}}</td>
            <td>
              {% if entry.value == True %}
              &#9989;
              {% else %}
              &#10060;
              {% endif %}
              <!-- {{entry.value}} -->
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      <h3 class="is-5 title">States</h3>
      <table class="table center-object">
        {% for entry in states %}
          <!-- {{entry.state.name}} - {{entry.value}} -->
          <tr>
            <td>{{entry.state.name}}</td>
            <td>{{entry.value}} 
              <!-- <span class="icon has-text-success">
                <i class="fa fa-star"></i>
              </span> -->
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <hr>
  <div class="block column is-10 is-offset-1">
    <h3 class="is-5 title">Note</h3>
      <p class="has-text-justified">
        {{note}}
      </p>
  </div>
  {% else %}
  <p>No data for given day</p>
  {% endif %}
  <hr>
  <div class="block has-text-right">
    <a class="button is-link" href="{{ url_for('main.edit', date=current_date_link) }}">Update entry</a>
  </div>

</div>

{% endblock %}