{% extends "base.html" %}

{% block content %}
<div class="column is-8 is-offset-2">
    <form method="POST" action="/update_day">
      <h1 class="is-3 title">Edit entry</h1>
        <div class="columns block">
          <div class="column">
            <h2 class="title is-5">Habits</h2>
            <table class="table center-object is-fullwidth">
            {% for habit in habits %}
              <tr>
                <td>{{habit.habit.name}}</td>
                <td><input type="checkbox" name="{{habit.habit.name}}" value="{{ 'on' if habit.value == True else 'off' }}" {{"checked" if habit.value}}></td>
              </tr>
            {% endfor %}
          </table>
          </div>
          <div class="column">
            <h2 class="title is-5">States</h2>
            <table class="table center-object is-fullwidth">
              {% for state in states %}
              <tr>
                  <td>{{state.state.name}}</td>
                  <td class="has-text-centered"><label> <input type="radio" name="{{state.state.name}}" value="1" {{"checked" if state.value == 1}}> 1 </label></td>
                  <td class="has-text-centered"><label> <input type="radio" name="{{state.state.name}}" value="2" {{"checked" if state.value == 2}}> 2 </label></td>
                  <td class="has-text-centered"><label> <input type="radio" name="{{state.state.name}}" value="3" {{"checked" if state.value == 3}}> 3 </label></td>
                  <td class="has-text-centered"><label> <input type="radio" name="{{state.state.name}}" value="4" {{"checked" if state.value == 4}}> 4 </label></td>
                  <td class="has-text-centered"><label> <input type="radio" name="{{state.state.name}}" value="5" {{"checked" if state.value == 5}}> 5 </label></td>
              </tr>
              <!-- <div class="field">
                  <legend> {{state.state.name}} </legend>
                  <label> <input type="radio" name="{{state.state.name}}" value="1" {{"checked" if state.value == 1}}> 1 </label>
                  <label> <input type="radio" name="{{state.state.name}}" value="2" {{"checked" if state.value == 2}}> 2 </label>
                  <label> <input type="radio" name="{{state.state.name}}" value="3" {{"checked" if state.value == 3}}> 3 </label>
                  <label> <input type="radio" name="{{state.state.name}}" value="4" {{"checked" if state.value == 4}}> 4 </label>
                  <label> <input type="radio" name="{{state.state.name}}" value="5" {{"checked" if state.value == 5}}> 5 </label>
              </div> -->
              {% endfor %}
          </table>
          </div>
          </div>
        </div>
        <div class="block column is-8 is-offset-2">
          <h3 class="is-5 title">Note</h3>
          <textarea class="textarea" name="journal_entry">{{journal_text}}</textarea>
        </div>
        <div class="block control has-text-centered">
          <button class="button is-primary">Update</button>
        </div>

</div>

{% endblock %}