{% extends "base.html" %}

{% block content %}
<div class="column is-8 is-offset-2">
  <div>
    {% if is_entry_empty %}
    <h2 class="title is-2">What have you done today?</h2>
    <form method="POST" action="/send_form">
      <div class="columns block">
        <div class="column">
          <h2 class="title is-4">Habits</h2>
          <table class="table center-object is-fullwidth">
            {% for habit in habits %}
                <tr>
                  <td><label for="hid_{{habit.name}}">{{habit.name}}</label></td>
                  <td class="has-text-right"><input type="checkbox" name="{{habit.name}}" id="hid_{{habit.name}}"></td>
                </tr>
            {% endfor %}
          </table>
        </div>
        <div class="column">
          <h2 class="title is-4">States</h2>
          <table class="table center-object is-fullwidth">
            {% for state in states %}
              <tr>
                <td class="is-vcentered"> {{state.name}} </td>
                <td class="has-text-centered"><label> <input type="radio" name="{{state.name}}" value="1"> 1 </label></td>
                <td class="has-text-centered"><label> <input type="radio" name="{{state.name}}" value="2"> 2 </label></td>
                <td class="has-text-centered"><label> <input type="radio" name="{{state.name}}" value="3"> 3 </label></td>
                <td class="has-text-centered"><label> <input type="radio" name="{{state.name}}" value="4"> 4 </label></td>
                <td class="has-text-centered"><label> <input type="radio" name="{{state.name}}" value="5"> 5 </label></td>
              </tr>
              </div>
            {% endfor %}
          </table>
        </div>
        </div>
      </div>
      <div class="block">
        <div class="column is-10 is-offset-1">
          <h3 class="is-5 title">Note</h3>
          <textarea class="textarea" placeholder="e.g. Hello world" name="journal_entry"></textarea>
        </div>
      </div>
      
      <div class="control has-text-centered block">
        <button class="button is-primary">Submit</button>
      </div>
    </form>
    {% else %}
    <h2 class="title is-2">Good job!</h2>
    <h2 class="subtitle is-3">You've already saved your today habits!</h2>
    <p>
      Forgot something? You can edit your entry <a href="{{ url_for('main.edit', date=today_date) }}">here</a>.
    </p>
    {% endif %}
  </div>

  <hr>

  <div>
    <h2 class="title is-2">Your habits</h2>
      {% for habit in habits %}
        <div class="block">
          <h6 class="title is-6">{{habit.name}}</h6>
          <div class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Tracking since</p>
                <p class="title is-5">{{habit.start_date}}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Tracking for</p>
                <p class="title is-5">{{habit.n_days}} days</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Days with habit done</p>
                <p class="title is-5">{{habit.percentage}} %</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Current unbroken streak</p>
                <p class="title is-5">{{habit.streak}} days</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>

  <hr>

  <div>
    <h2 class="title is-2">Your states</h2>
      {% for state in states %}
        <div class="block">
          <h6 class="title is-6">{{state.name}}</h6>
          <div class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Tracking since</p>
                <p class="title is-5">{{state.start_date}}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Tracking for</p>
                <p class="title is-5">{{state.n_days}} days</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Average state value</p>
                <p class="title is-5">{{'{:,.2f}'.format(state.avg_value)}}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>

</div>

{% endblock %}