{% extends "base.html" %}

{% block content %}
<div class="column is-8 is-offset-2">
  <h3 class="title is-3">
    Settings
  </h3>
  <div class="block">
    <h5 class="title is-5">
      Habits
    </h5>
    <table class="table is-fullwidth is-hoverable">
    {% for habit in habits %}
      <tr>
        <td>
          {{habit.name}}
        </td>
        <td class="has-text-right">
          <form action="delete_habit" method="post">
            <input type=hidden value="{{habit.id}}" name=habit_id />
            <button class="button is-danger">Remove habit</button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </table>
    <div class="column is-10 is-offset-1">
      <form method="POST" action="add_habit">
        <div class="field has-addons has-addons-centered">
          <div class="control is-expanded">
            <input class="input" type="text" name="habit">
          </div>
          <div class="control">
            <button class="button is-primary">Add habit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="block">
    <h5 class="title is-5">
      States
    </h5>
    <table class="table is-fullwidth is-hoverable">
    {% for state in states %}
      <tr>
        <td>
          {{state.name}}
        </td>
        <td class="has-text-right">
          <form action="delete_state" method="post">
            <input type=hidden value="{{state.id}}" name=state_id />
            <button class="button is-danger">Remove state</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
    <div class="column is-10 is-offset-1">
      <form method="POST" action="add_state">
        <div class="field has-addons has-addons-centered">
          <div class="control is-expanded">
            <input class="input" type="text" name="state">
          </div>
          <div class="control">
            <button class="button is-primary">Add state</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>

  <!-- <h1>
    Download your data
  </h1> -->
</div>

{% endblock %}